/* SearchBar.css */
.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
  max-width: 600px; /* Ajustar el ancho máximo */
  margin-left: auto; /* Centrar la barra de búsqueda en el espacio disponible */
  margin-right: auto; /* Asegúrate de que se mantenga centrada */
}

.search-bar input[type="text"] {
  padding: 10px; /* Aumentar el padding */
  border: 2px solid rgba(238, 236, 236, 0.8);
  box-shadow: 0 0 20px #512c71;
  border-radius: 5px;
  outline: none;
  flex-grow: 1; /* Permitir que el input ocupe todo el espacio disponible */
  background-color: rgba(30, 30, 30, 0.8);
  color: #fff;
}

.search-bar button {
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; /* Suavizar el cambio de color */
}

.search-bar button:hover {
  background-color: rgb(125, 124, 121);
}
